<div class='container-md bg-light rounded-3 d-flex p-4'>
  <div class='d-flex flex-column bg-primary-subtle rounded-3 align-items-center justify-content-around p-5 gap-4'>

    <%= image_tag('icons/sunny.png', width: 180) %>

    <h1 class='display-3'><%= @current['temperature_2m'] %>&deg;F</h1>

    <h3>Today</h3>

    <div class='d-flex flex-column'>
      <span>Humidity: <%= @current['relative_humidity_2m'] %>%</span>
      <span>Wind: <%= @current['wind_speed_10m'] %> Km/h</span>
    </div>

  </div>
  <div class='flex-fill d-flex flex-column p-4'>
    <div>
      <%= link_to 'Back to Locations', '/', class: 'd-block text-end' %>
      <h2 class='text-center display-6'>Location: Manila</h2>
    </div>

    <div class='flex-fill p-4 d-flex justify-content-between'>
      <div class='d-flex flex-column gap-3 justify-content-around align-items-center'>
        <h3>Friday</h3>
        <%= image_tag('icons/sunny.png', width: 120) %>
        <h2 class='display-5'>69&deg;F</h2>

        <div class='d-flex flex-column'>
          <span>59%</span>
          <span>16MPH</span>
        </div>
      </div>

      <div class='d-flex flex-column gap-3 justify-content-around align-items-center'>
        <h3>Saturday</h3>
        <%= image_tag('icons/sunny.png', width: 120) %>
        <h2 class='display-5'>69&deg;F</h2>

        <div class='d-flex flex-column'>
          <span>59%</span>
          <span>16MPH</span>
        </div>
      </div>

      <div class='d-flex flex-column gap-3 justify-content-around align-items-center'>
        <h3>Sunday</h3>
        <%= image_tag('icons/sunny.png', width: 120) %>
        <h2 class='display-5'>69&deg;F</h2>

        <div class='d-flex flex-column'>
          <span>59%</span>
          <span>16MPH</span>
        </div>
      </div>

      <div class='d-flex flex-column gap-3 justify-content-around align-items-center'>
        <h3>Monday</h3>
        <%= image_tag('icons/sunny.png', width: 120) %>
        <h2 class='display-5'>69&deg;F</h2>

        <div class='d-flex flex-column'>
          <span>59%</span>
          <span>16MPH</span>
        </div>
      </div>

      <div class='d-flex flex-column gap-3 justify-content-around align-items-center'>
        <h3>Tuesday</h3>
        <%= image_tag('icons/sunny.png', width: 120) %>
        <h2 class='display-5'>69&deg;F</h2>

        <div class='d-flex flex-column'>
          <span>59%</span>
          <span>16MPH</span>
        </div>
      </div>

      <div class='d-flex flex-column gap-3 justify-content-around align-items-center'>
        <h3>Wednesday</h3>
        <%= image_tag('icons/sunny.png', width: 120) %>
        <h2 class='display-5'>69&deg;F</h2>

        <div class='d-flex flex-column'>
          <span>59%</span>
          <span>16MPH</span>
        </div>
      </div>

    </div>

  </div>
</div>
